.popular-excursions {
  margin-bottom: 167px;
  position: relative;
}

.popular-excursions__title {
  margin-bottom: 90px;
}

.popular-excursions__show-all {
  display: none;

  &:hover {
    @include font-montserrat(13px, 15px, 700);
  }

  @media (min-width: $tablet-width) {
    display: block;
    @include font-montserrat(12px, 15px, 500);
    color: $basic-black;
    text-decoration: underline;
    margin-top: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.popular-excursions__header-wrapper {
  display: flex;
  justify-content: space-between;
}

.scroll-container {
  margin-right: -24px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-right: -79px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -160px;
  }
}

.simplebar-scrollbar {
  border: 0;
  box-sizing: border-box;
}

.simplebar-track.simplebar-horizontal {
  width: 62vw;
  margin-left: auto;
  height: 2px;
  background-color: $scale-color;
  border-radius: 10px;
  border: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 72vw;
  }
  @media (min-width: $desktop-width) {
    width: 79vw;
  }
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  opacity: 1;
  left: 0;
  top: -2px;
  height: 2px;
  background-color: $button-color-start;
  border: 0;
  border-radius: 10px;
}

.popular-excursions__list {
  @include non-list();
  @include font-montserrat(13px, 16px, 500);
  color: $basic-white;
  display: flex;
  margin-bottom: 76px;

  @media (min-width: $tablet-width) {
    @include font-montserrat(12px, 15px, 500);
    margin-bottom: 60px;
  }
}

.popular-excursions__item {
  box-sizing: border-box;
  min-width: 280px;
  min-height: 540px;
  padding: 182px 15px 30px 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 11px;
  overflow: hidden;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    min-width: 295px;
    min-height: 490px;
    padding: 174px 15px 31px 15px;
  }

  @media (min-width: $desktop-width) {
    min-width: 360px;
    min-height: 497px;
    padding: 211px 15px 42px 15px;
  }
}

.popular-excursions_image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.popular-excursions__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-excursions__short-description {
  margin: 0;
}

.popular-excursions__tour-title {
  margin: 0;
  @include font-montserrat(13px, 17px, 700);
  color: $basic-yellow;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include font-montserrat(14px, 17px, 700);
  }
}

.popular-excursions__features-list {
  @include non-list();
  @include font-montserrat(12px, 15px, 500);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.popular-excursions__features-item {
  position: relative;
  margin-left: 31px;

  &:first-child {
    margin-left: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }
}

.popular-excursions__features-item--time::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -16px;
  width: 12px;
  height: 12px;
  background-image: url("../../img/icon_time.svg");
  background-repeat: no-repeat;
}

.popular-excursions__features-item--cost::before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  width: 12px;
  height: 12px;
  background-image: url("../../img/icon_money.svg");
  background-repeat: no-repeat;
}

.popular-excursions__description {
  margin: 0;
}

.popular-excursions__link {
  margin-top: auto;
  width: 160px;
  height: 40px;
  padding: 0;
  text-align: center;
  padding-top: 12px;
  @include font-montserrat(12px, 15px, 700);
}

.slider__controls-container {
  position: absolute;
  left: 15px;
  bottom: -24px;

  @media (min-width: $tablet-width) {
    left: 70px;
  }

  @media (min-width: $desktop-width) {
    left: 150px;
  }
}

.slider__button-leaf {
  width: 40px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.slider__button-leaf svg {
  fill: none;
  stroke: $scale-color;
}

.slider__button-leaf-back {
  margin-right: 21px;
}

.slider__button--active svg {
  stroke: $button-active-color;
}

.slider__button--active:hover svg {
  transform: scale(1.2);
}

.slider__button--active:active svg {
  transform: scale(1.2);
  stroke: darken($button-active-color, 10);
}

.slider__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 2px;
  background-color: $button-active-color;
}
