.promo {
  padding-top: 100px;
  margin-bottom: 148px;

  &::before {
    content: "";
    width: 100vw;
    height: 929px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../../img/promo_background_mobil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/promo_background_mobil@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      height: 1024px;
      background-image: url("../../img/promo_background_table.jpg");
      @media (min-resolution: 2dppx) {
        background-image: url("../../img/promo_background_table@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      height: 789px;
      background-image: url("../../img/promo_background_desktop.png");
      @media (min-resolution: 2dppx) {
        background-image: url("../../img/promo_background_desktop@2x.png");
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 211px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 128px;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.promo__discription-text {
  display: block;
  margin: 0;
  margin-bottom: 29px;
  position: relative;
  text-transform: uppercase;
  @include font-montserrat(36px, 24px, 700);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    @include font-montserrat(48px, 59px, 700);
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    @include font-montserrat(72px, 88px, 700);
    margin-top: 0;
    margin-bottom: 17px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 205px;
    width: 113px;
    height: 48px;
    background-image: url("../../img/together.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 44px;
      left: 344px;
    }

    @media (min-width: $desktop-width) {
      width: 151px;
      height: 64px;
      background-size: 151px 64px;
      top: 50px;
      left: 537px;
    }
  }
}

.promo__logo-text {
  margin-bottom: 97px;
  @media (min-width: $tablet-width) {
    width: 406px;
    height: 172px;
  }
  @media (min-width: $desktop-width) {
    width: 723px;
    height: 117px;
    margin-top: -30px;
    margin-bottom: 65px;
  }
}

.promo__link-container {
  position: relative;
  margin-bottom: 91px;
  @media (min-width: $tablet-width) {
    margin-bottom: 220px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 134px;
  }
}

.promo__link:hover + .arrow__icon {
  fill: $basic-yellow;
  transform: translateX(100%) scale(3, 2);
}

.arrow__icon {
  position: absolute;
  top: 21px;
  left: 163px;
  fill: $basic-white;
}

.social-list {
  @include non-list();
  margin-left: auto;
  margin-bottom: 100px;
  width: 28px;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 137px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 100px;
  }
}

.social-item {
  text-align: center;
  margin-bottom: 5px;
}

.social__icon {
  fill: $basic-white;

  &:hover {
    transform: scale(1.2);
    fill: lighten($basic-yellow, 40);
  }

  &:active {
    transform: scale(1.2);
    fill: darken($basic-yellow, 20);
  }
}

.social__item-fb {
  fill: none;
  stroke: $basic-white;

  &:hover {
    fill: none;
    stroke: lighten($basic-yellow, 40);
  }

  &:active {
    fill: none;
    stroke: darken($basic-yellow, 20);
  }
}

.promo__video-block {
  display: flex;
  overflow: hidden;
  margin-right: -24px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-left: 210px;
    margin-right: -79px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 665px;
    margin-right: -160px;
  }
}

.promo__video-container {
  position: relative;
  margin-right: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 66px;
    height: 66px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid $basic-yellow;
  }
}

.promo__video {
  @media (min-width: $desktop-width) {
    width: 360px;
    height: 227px;
  }
}

.promo__video-image {
  width: 295px;
    height: 187px;
  @media (min-width: $desktop-width) {
    width: 360px;
    height: 227px;
  }
}

.icon_play {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  cursor: pointer;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  &:hover {
    transform: translate(-50%, -50%) scale(1.25);
  }
}

