//Colors
$basic-black: #282828;
$basic-white: #ffffff;
$basic-yellow: #ffc700;
$button-color-start: #0499dd;
$button-color-end: #17C1BC;
$scale-color: #d4d4d4;
$button-active-color: #0499dd;
$background-text-color: #ededed;
$vk-color: #bc0000;
$inst-color: #e59b06;
$fb-color: #17c1bc;
//Viewport
$tablet-width: 768px;
$desktop-width: 1440px;
$table-width-only: 1439px;
$mobile-width-only: 767px;
